body{
    margin: 0;
    padding: 0;
}
.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}
.topo{
    width: 100%;
    height: 70px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topo a{
    color: #fff;
    text-decoration: none;
    font-size: 40px;
}
.banner{
    width: 100%;
    height: 400px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.colecoes{
    width: 90%;
    margin: 20px auto 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
}

.colecoes > div{
    position: relative;
    width: 270px;
    height: 270px;
    overflow: hidden;
    flex-shrink: 0;
}
.verao img,
.outono img,
.inverno img,
.primavera img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}
.colecoes a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
}
.novidade{
    width: 80%;
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.novidade h2{
    margin: 0 0 20px;
    font-size: 50px;
    font-family: "Henny Penny", system-ui;
    color: #000;
    text-align: center;
}
.novidade-imagens{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.esquerdonov,
.direitonov{
    width: 45%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.esquerdonov img,
.direitonov img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.novidade a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
}
.compras{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: crimson;
    text-align: center;
    padding: 20px;
}
.compras > div{
    flex: 1;
    height: auto;
}
.compras img{
    width: 100%;
    height: 350px;
    display: block;
    object-fit: cover;
}
.compras h2{
    margin: 12px 0 6px;
    font-size: 22px;
}
.compras p{
    margin: 0;
    font-size: 16px;
}
.titulos {
    text-align: center;
    font-family: "Henny Penny", system-ui;
    font-size: 50px;
    margin: 20px 0;
}
.vendidos-imagens{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.vendidos-imagens img{
    width: 30%;
    height: 400px;
    display: block;
    object-fit: cover;
}
@media (max-width: 700px){
    .compras{
        flex-direction: column;
    }
    .compras > div{
        height: auto;
    }
}